[submodule "characters"]
	path = characters
	url = https://github.com/elizaos/characters
[submodule "packages/plugin-agentkit"]
	path = packages/plugin-agentkit
	url = https://github.com/elizaos-plugins/plugin-agentkit.git
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
